In [143]:
# Import the modules
import pandas as pd
import hvplot.pandas
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import numpy as np

In [144]:
realtor_df = pd.read_csv(
     Path("Resources/realtor-data.csv")
 )

#Review the DataFrame
realtor_df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [145]:
# number of rows in the dataframe
a = len(realtor_df)
print(a)

1401066

In [146]:
# Dispaly realtor_df Information
realtor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401066 entries, 0 to 1401065
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   status          1401066 non-null  object
 1   bed             1184538 non-null  float64
 2   bath            1206853 non-null  float64
 3   acre_lot        1043599 non-null  float64
 4   city            1400875 non-null  object
 5   state           1401066 non-null  object
 6   zip_code        1400587 non-null  float64
 7   house_size      950954 non-null   float64
 8   prev_sold_date  714773 non-null   object
 9   price           1400958 non-null  float64
dtypes: float64(6), object(4)
memory usage: 106.9+ MB

In [147]:
# Added column for price per sqft for each property
realtor_df['price_sq_foot'] = realtor_df['price'] / realtor_df['house_size']
realtor_df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price,price_sq_foot
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0,114.130435
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0,52.390308
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0,89.572193
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0,80.555556
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0,NaN

In [148]:
# dropping irrelevant columns and any null values 
realtor_df.drop(columns=['prev_sold_date','state','status'], axis=1, inplace=True)
realtor_df = realtor_df.dropna()

In [149]:
# dispaly adjusted realtor data 
realtor_df.head()

,bed,bath,acre_lot,city,zip_code,house_size,price,price_sq_foot
0,3.0,2.0,0.12,Adjuntas,601.0,920.0,105000.0,114.130435
1,4.0,2.0,0.08,Adjuntas,601.0,1527.0,80000.0,52.390308
2,2.0,1.0,0.15,Juana Diaz,795.0,748.0,67000.0,89.572193
3,4.0,2.0,0.10,Ponce,731.0,1800.0,145000.0,80.555556
5,4.0,3.0,0.46,San Sebastian,612.0,2520.0,179000.0,71.031746

In [150]:
# print number of rows in the new dataframe
a = len(realtor_df)
print(a)

680464

In [151]:
# Import required libraries
import numpy as np
from sklearn.linear_model import LinearRegression

In [152]:
#realtor_df = realtor_df[realtor_df['price'] <= 500000.0]
realtor_df = realtor_df[(realtor_df['price_sq_foot'] >= 150.0) & (realtor_df['price_sq_foot'] <= 200.0)]

In [153]:
# number of rows after filtering data
a = len(realtor_df)
print(a)

105812

In [154]:
# display the first five rows
realtor_df.head()

,bed,bath,acre_lot,city,zip_code,house_size,price,price_sq_foot
22,3.0,1.0,2.00,Coamo,769.0,1213.0,189000.0,155.812036
25,3.0,2.0,0.28,San Sebastian,685.0,1500.0,255000.0,170.000000
29,3.0,2.0,0.69,Isabela,662.0,2505.0,469000.0,187.225549
32,4.0,2.0,3.08,Santa Isabel,757.0,2886.0,495000.0,171.517672
35,3.0,2.0,1.13,Moca,676.0,1928.0,305000.0,158.195021

In [155]:
# Reformat data of the independent variable X as a single-column array
X = realtor_df["house_size"].values.reshape(-1, 1)

# Display sample data
X[:5]

array([[1213.],
       [1500.],
       [2505.],
       [2886.],
       [1928.]])

In [156]:
# after reshape we can see the new number of rows
X.shape

(105812, 1)

In [157]:
y = realtor_df['price']

In [158]:
# Create a model with scikit-learn
model = LinearRegression()

# Fit the data into the model
model.fit(X, y)

# Display the slope
print(f"Model's slope: {model.coef_}")

# Display the y-intercept
print(f"Model's y-intercept: {model.intercept_}")

# Display the model's best fit line formula
print(f"Model's formula: y = {model.intercept_} + {model.coef_[0]}X")

Model's slope: [174.45141396]
Model's y-intercept: 2274.4603216203395
Model's formula: y = 2274.4603216203395 + 174.45141396039466X

In [159]:
# Import relevant metrics from scikit-learn
from sklearn.metrics import mean_squared_error, r2_score

# Make predictions using the X set
predicted_y_values = model.predict(X)

In [160]:
# Create a copy of the original data
df_realtor_predicted = realtor_df.copy()

# Add a column with the predicted salary values
df_realtor_predicted["price_predicted"] = predicted_y_values

# Display sample data
df_realtor_predicted.head()

,bed,bath,acre_lot,city,zip_code,house_size,price,price_sq_foot,price_predicted
22,3.0,1.0,2.00,Coamo,769.0,1213.0,189000.0,155.812036,213884.025456
25,3.0,2.0,0.28,San Sebastian,685.0,1500.0,255000.0,170.000000,263951.581262
29,3.0,2.0,0.69,Isabela,662.0,2505.0,469000.0,187.225549,439275.252292
32,4.0,2.0,3.08,Santa Isabel,757.0,2886.0,495000.0,171.517672,505741.241011
35,3.0,2.0,1.13,Moca,676.0,1928.0,305000.0,158.195021,338616.786437

In [161]:
# Compute metrics for the linear regression model: score, r2, mse, rmse, std
score = model.score(X, y, sample_weight=None)
r2 = r2_score(y, predicted_y_values)
mse = mean_squared_error(y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(y)

# Print relevant metrics.
print(f"The score is {score}.")                                       
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.9770585703199863.
The r2 is 0.9770585703199863.
The mean squared error is 1430287589.0057354.
The root mean squared error is 37819.14315536161.
The standard deviation is 249690.17029064355.